<div class="container-fluid">
    <div class="row mt-3">
        <div class="col text-center">
            <button mat-mini-fab (click)="goBack()" style="background-color: brown;"><mat-icon style=" color:white" matTooltip="Back">keyboard_backspace</mat-icon></button>
            <span style="font-size: 18px; margin-left: 20px;">Book: <span style="color:chocolate">{{bookName}}</span>
            </span>
        </div>
        <div class="col text-center">
            <mat-form-field appearance="outline">
                <mat-label>Search:</mat-label>
                <input matInput [(ngModel)]="searchKey">
                <button mat-icon-button matSuffix><mat-icon>close</mat-icon></button>
            </mat-form-field>
        </div>
        <div class="col text-center">
            <button mat-flat-button style="background-color: green; color:white" (click)="toggleDrawer()">+ Cash In</button>
            <button mat-flat-button style="background-color: brown; color:white">+ Cash Out</button>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <mat-icon style="background-color: green; color:#fff; border-radius: 100px;">add</mat-icon>Cash In
            <div>
                 <span style="font-size: 24px; color: green">&#8377;  0/-</span>
            </div>
        </div>
        <div class="col">
            <mat-icon style="background-color: brown; color:#fff; border-radius: 100px;">remove</mat-icon>Cash Out
            <div>
                <span style="font-size: 24px; color: brown">&#8377; 0/-</span>
            </div>
        </div>
        <div class="col">
            <mat-icon style="background-color: blue; color:#fff; border-radius: 100px;">check</mat-icon>Cash Out
            <div>
                <span style="font-size: 24px; color: blue">&#8377; 0/-</span>
            </div>
        </div>
    </div>
  </div>
  <mat-divider></mat-divider>

<div class="drawer-container" [ngClass]="{'open': isDrawerOpen}">
    <div class="drawer-content">
      <mat-toolbar>
        Add Cash In Entry
        <span class="spacer"></span>
        <button mat-icon-button (click)="toggleDrawer()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <!-- Drawer content here -->
       <div class="container mt-3">
        <form [formGroup]="addFrom">
           <div class="row col-12">
                <div class="col-6 ">
                    <mat-form-field appearance="outline">
                        <mat-label>Date:</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                            @if(addFrom.controls.date.touched && addFrom.controls.date.invalid){
                                @if(addFrom.controls.date.errors?.required){
                                    <span>Transaction Date is Required</span>
                                }
                            }
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Time:</mat-label>
                        <input matInput [ngxTimepicker]="timePicker" formControlName="time">
                        <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                        <mat-icon matSuffix >schedule</mat-icon>
                        <mat-error>
                            @if(addFrom.controls.time.touched && addFrom.controls.time.invalid){
                                @if(addFrom.controls.time.errors?.required){
                                    <span>Transaction Time is Required</span>
                                }
                            }
                        </mat-error>
                    </mat-form-field>

                </div>
           </div>
           <div class="row col-12">
            <mat-form-field appearance="outline">
                <mat-label>Amount: </mat-label>
                <input matInput formControlName="amount">
                <mat-icon matPrefix>currency_rupee</mat-icon>
                <mat-error>
                    @if(addFrom.controls.amount.touched && addFrom.controls.amount.invalid){
                        @if(addFrom.controls.amount.errors?.required){
                            <span>Transaction Amount is Required</span>
                        }
                    }
                </mat-error>
            </mat-form-field>
           </div>
           <div class="row col-12">
            <mat-form-field appearance="outline">
                <mat-label>Description: </mat-label>
                <input matInput formControlName="description">
                <mat-error>
                    @if(addFrom.controls.description.touched && addFrom.controls.description.invalid){
                        @if(addFrom.controls.description.errors?.required){
                            <span>Description is Required</span>
                        }
                    }
                </mat-error>
            </mat-form-field>
           </div>
           <button mat-flat-button [disabled]="!(addFrom.dirty && addFrom.valid)">Add</button>
        </form>
       </div>
    </div>
  </div>
 
