<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="sidenavStyle" mode="side" opened >
        <div class="text-center p-2">
        <button mat-flat-button style="background-color: blueviolet; color: #fff; " (click)="addBook()">+ Add New Book</button>
        <mat-divider style="width: 100%; margin-top: 20px;"></mat-divider>
      
    </div>
    </mat-drawer>
    <mat-drawer-content>
    <div style="margin: 10px;">
       <button mat-mini-fab  (click)="drawer.toggle()" style="background-color: blueviolet; color:#fff">
                <mat-icon>menu</mat-icon>
        </button>
        <h2>My Cash Books</h2>
        @if(books){
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Book Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(book of books; track book){
                                <tr>
                                    <td>{{book.bookTitle}}</td>
                                    <td>Actions here</td>
                                </tr>
                                
                            }
                        </tbody>
                    
                    </table>
                </div>
            </div>
           
        }
        @else {
            <h4>No Books were found!</h4>
        }
        <router-outlet></router-outlet>
    </div>
       </mat-drawer-content>
</mat-drawer-container>